# General
.DS_Store
.AppleDouble
.LSOverride
.tar.gz

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# bitrix

*.sql
*.tar.gz
*.zip
maillog
sitemap.xml
sitemap*.xml
robots.txt
/.idea
/bitrix/
/upload/
.bash_history
.composer/
.cache/
.sass-cache
*.css.map
.htaccess.restore
.htaccess
sftp-config.json
cgi-bin