/* стили по умолчанию */

html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 100.01%;
	line-height:18px;
	background-color:black;
}

table {
	border-spacing:0;
	/*border-collapse:collapse;*/
}

table td, table th
{
    padding: 0;
}

p{
	padding-bottom: 10px;
}

a {
	color:#D6C59A;
	text-decoration:underline;
}

a:hover {
	text-decoration:none;
}

h1 {
	font-size:18pt;
	font-weight:normal;
	color:white;
	display:block;
	margin:0px 0 10px 0;
}

h2 {
	font-size:16pt;
	font-weight:normal;
	color:white;
	display:block;
	margin:0px 0 10px 0;
}
/* конец стилей по умолчанию */


.menu  {
	color:#D6C59A;
	text-transform:uppercase;
	font-size:9pt;
}

.products td {
	text-align:center;
	background-color:#999;
}

.products tr {
	background-color:#333;
}

table.product {
	border-right:1px solid #808080;
}

tr.nazva {
	text-transform:uppercase;
	font-weight:bold;
	background-color:#999;
	color:black;
	font-size:9pt;
	vertical-align:middle;
}

tr.nazva td {
	background-color:#1E1B15;
	color:white;
}

tr.txt {
	color:white;
	font-size:9pt;
	vertical-align:top;
}

tr.txt td {
	background-color:#1E1B15;
	vertical-align:top;
	text-align:left;
	padding-left:7px;
}

.ryad td img {
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.price td {
	border-color : #999
}
