.rod {
	&.listing {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
		gap: 16px;
		-ms-flex-preferred-size: unset;
		    flex-basis: unset;
		text-decoration: none;
		.caption {
			color: #2b392c;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 22px;
		}
		.action {
			-ms-grid-column-align: end;
			    justify-self: end;
			font-size: 11px;
			color: #000000;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-box-align: end;
			    -ms-flex-align: end;
			        align-items: flex-end;
			gap: 8px;
			.action__icon {
			}
			.action__texts {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				gap: 2px;
				line-height: 13px;
				padding-bottom: 5px;
			}
		}
	}
}